.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: white;
}

.header_right ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.header_left img {
    width: 100px;
}